body{
    background: url("images/lion.jpg");
    background-size: cover;
    text-align: center;
    color: rgb(245, 243, 234);
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    box-sizing: border-box;
}

h1{
    color:goldenrod;
}

button{
 width: 250px;
 height: 50px;
 background:rgb(10, 125, 39);
 color: white;
 border: none;
 border-radius: 5px;
 cursor: pointer;
 font-weight: bold;
 padding-top: 5px;
 padding-bottom: 5px;
 margin-top: 3px;
 margin-bottom: 1px;
}